<ion-view title="Care Plan">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="What are you looking for?">
            </label>
        </form>
        <button class="button button-stable button-small icon ion-android-add"> Add New</button>
        <button class="button button-stable button-block button-large">Physical</button>
        <button class="button button-stable button-block button-large">Emotional</button>
        <button class="button button-stable button-block button-large">Mental</button>
        <button class="button button-stable button-block button-large">Spiritual</button>
    </ion-content>
</ion-view>