<ion-view view-title="Medications">
  <ion-header-bar class="bar bar-light bar-subheader">
     
  </ion-header-bar>
  <ion-content>
	<div class="list card">
		<div class="item item-icon-left">
			<i class="icon ion-medkit"></i>
			<h2>Naproxen 50mg</h2>
			<p>For: Rheumatoid Arthritis</p>
			</div>
			<div class="item item-body">
				Take as needed for pain
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" ng-click="remind('Naproxen 50mg')">
				  <i class="icon ion-ios-bell-outline"></i>
				  Remind Me
				</a>
				<a class="tab-item" href="">
				  <i class="icon ion-edit"></i>
				  Edit this information
				</a>
			</div>
		</div>
	</div>
	<div class="list card">
		<div class="item item-icon-left">
			<i class="icon ion-medkit"></i>
			<h2>Lipitor 80mg</h2>
			<p>For: Blood pressure</p>
			</div>
			<div class="item item-body">
				From Dr. Wells: Take one a day with meal.
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" ng-click="remind('Lipitor 80mg')">
				  <i class="icon ion-ios-bell-outline"></i>
				  Remind Me
				</a>
				<a class="tab-item" href="">
				  <i class="icon ion-edit"></i>
				  Edit this information
				</a>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
