<ion-view title="Care Plan">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="What are you looking for?">
            </label>
        </form>
        <a class="button button-stable button-small icon ion-android-add">Add New</a>
    <h1>{{category}}</h1>
    <div class="list">
      <a class="item item-icon-right" href="#" ng-repeat="plan in plans" ng-click="openModal({{$index}})">
        <i class="icon ion-chevron-right"></i>
            <span class="badge ">{{plan.comments?'1':'0'}}</span>
            <h2>{{plan.title}}</h2>
            <p>{{plan.plan}} </p>
      </a>
    </div>
    </ion-content>
</ion-view>