<ion-view title="Medication 1">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Aspirin, multi-vitamin...">
            </label>
            <label class="item item-input">
                <span class="input-label">Dosage</span>
                <input type="text" placeholder="25 mg, 300 UI">
            </label>
            <label class="item item-input">
                <span class="input-label">Instructions</span>
                <input type="text" placeholder="3 times a day...">
            </label>
            <label class="item item-input">
                <span class="input-label">What's it for?</span>
                <input type="text" placeholder="Teeth pain, ear infection...">
            </label>
            <label class="item item-input">
                <span class="input-label">Who prescribed it?</span>
                <input type="text" placeholder="Doctor, physical therapist...">
            </label>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Where you got it</span>
                    <input type="text" placeholder="Shopper's Drug mart on Yonge St">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="number" placeholder="999-999-9999">
                </label>
                <div class="spacer" style="width: 300px; height: 17px;"></div>
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Drug expiration date</span>
                        <input type="date" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Start date</span>
                        <input type="date" placeholder="">
                    </label>
                    <ion-checkbox>Active?</ion-checkbox>
                    <div class="spacer" style="width: 300px; height: 17px;"></div>
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Prescription Number</span>
                            <input type="number" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Prescription Date</span>
                            <input type="date" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Quantity</span>
                            <input type="number" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Refills left</span>
                            <input type="number" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Refill expiration date</span>
                            <input type="date" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Refill ordered on</span>
                            <input type="date" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">When last filled</span>
                            <input type="date" placeholder="">
                        </label>
                        <div class="spacer" style="width: 300px; height: 17px;"></div>
                        <form class="list">
                            <label class="item item-input">
                                <span class="input-label">Effective</span>
                                <input type="text" placeholder="Yes/No">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Allergic</span>
                                <input type="text" placeholder="Yes/No">
                            </label>
                            <div class="spacer" style="width: 300px; height: 17px;"></div>
                            <label class="item item-input">
                                <span class="input-label">Remarks</span><textarea placeholder="Eg. May make you drowsy, don't take with other drugs"> </textarea>
                            </label>
                            <form class="list"></form>
                        </form>
                    </form>
                    <form class="list"></form>
                </form>
            </form>
        </form>
    </ion-content>
</ion-view>